@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Inter", sans-serif;
}
#documento {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
}
#cabecera {
    background-color: #14e737;
    padding: 5px;
}
#cabecera #logo {
    width: 75px;
    height: 50px;
}
#cabecera #titulo {
    font-size: 1.3em;
    font-style: italic;
}
.boton {
    background-color: blue;
    color: white;
    border: thin white solid;
}
.boton a {
    text-decoration: none;
    color: white;
}
.boton a:visited {
    text-decoration: none;
    color: white;
}
.boton a:hover {
    background-color: cyan;
    color: white;
}
.boton:hover {
    background-color: cyan;
    color: white;
}
.tabla {
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: white;
}
.tabla th {
    background-color: teal;
    color: blue;
}
.tabla tr.par {
    background-color: black;
    color: white;
}
.tabla tr.impar {
}
#pie {
    background-color: #81e714;
    color: blue;
    font-size: 1.5 em;
    padding: 5px;
}
.for_texto {
    border: blue thin solid;
    background-color: white;
    padding: 2px;
    margin: 2px;
    border-radius: 4px;
}
.error {
    background-color: white;
    color: red;
    border: thin solid red;
    padding: 5px;
}

/* a {
    color: #ccc;
    transition: 0.2s color;
}

a:hover {
    color: white;
} */

.breadcrumbs {
    display: flex;
    align-items: center;
    font: 14px system-ui;
    background-color: rgba(255, 255, 255, 0.2);
    width: fit-content;
    padding: 4px 8px;
    border-radius: 6px;
    box-sizing: border-box;
}

.breadcrumbs a {
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .sep {
    margin: 0 0.5rem;
    opacity: 0.6;
}

.breadcrumbs [aria-current="page"] {
    font-weight: 600;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1px 4px;
    border-radius: 4px;
}
